
@model JsonDemo.Models.Course

@{
    bool creating = Model.Id == 0;
    string pageTitle = creating ? "Ajout" : "Modification";
    string submitCaption = creating ? "Ajouter" : "Modifier";
    SelectList registrations = Model.StudentsSelectList;
    SelectList students = JsonDemo.Models.DB.Students.ToSelectList;
}
<h3>@pageTitle</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (!creating)
        {
            <div class="form-group">
                @Html.Label("Inscriptions", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Helper.SelectionLists("selectedStudentsId", registrations, students)
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@submitCaption" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>
