
@model IEnumerable<JsonDemo.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h3>Liste des étudiants  @Helper.IconCmd("Students", "Create", "fa-plus-square", "Ajouter...")</h3>
<hr />
@foreach (var item in Model)
{
    <div class="StudentListLayout">
        <a href="@Url.Action("Details", new {id = item.Id})">
            <div>@item.Code @item.LastName @item.FirstName</div>
        </a>
        @Helper.IconCmd("Students", "Edit/" + item.Id, "fa-edit", "Modifier...")
        @Helper.IconConfirmCmd("Students", "Delete/" + item.Id, "fa-times-rectangle-o", "Effacer " + item.Caption + "?")
    </div>
}



